@model Infrastructure.Models.MenuItem

@{
    Layout = "_Layout";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateMenuItemP">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link.Area" class="control-label"></label>
                <input asp-for="Link.Area" class="form-control" />
                <span asp-validation-for="Link.Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link.Controller" class="control-label"></label>
                <input asp-for="Link.Controller" class="form-control" />
                <span asp-validation-for="Link.Controller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link.Action" class="control-label"></label>
                <input asp-for="Link.Action" class="form-control" />
                <span asp-validation-for="Link.Action" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsBeta" class="control-label"></label>
                <input asp-for="IsBeta" class="form-control" />
                <span asp-validation-for="IsBeta" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <input asp-for="ID" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
